/* HEADER */

.header {
  overflow: hidden;
  background-color: rgba(10, 58, 80, 0.8);
  padding: 12px;
  border-radius: 17px;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  float: right;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(24, 163, 168);
  color: white;
}

.header img{
  float: right;
}

/* BODY */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: radial-gradient(ellipse at center, rgba(18, 144, 202, 0.8) 0%, rgba(20, 128, 179, 0.8) 100%);
  color: #f7f7f7;
  display: flex; /* Om de footer beneden te forceren */
  flex-direction: column; /* Om de footer beneden te forceren */
}

/* BODY TEST */

.flex-container {
    display: flex;
    height: 25cm;
}
.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
}  
.flex-child:first-child {
    margin-right: 20px;height: 100%;
} 

.links{
  width: 60%;
  /* max-width: 80%; */
  margin: 32px auto 40px;
  padding: 32px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 17px;
}

.rechts{
  width: 30%;
  /* max-width: 80%; */
  margin: 32px auto 40px;
  padding: 32px 20px;
  background: rgba(10, 58, 80, 0.8);
  border-radius: 17px;
}

.tweede{
  background: rgba(10, 58, 80, 0.8);
  height: 25cm;
  margin: auto 26px;
}

/* FOOTER */
.footer {
  text-align: center;
  color: #aaa;
  padding: 16px 0 24px;
  font-size: 0.9rem;
  flex-shrink: 0; /* Om de footer beneden te forceren */
}
